:root { 
--black_900_7f:#0000007f; 
--black_900_4c:#0000004c; 
--amber_800:#ff8c00; 
--light_blue_900_33:#00529b33; 
--deep_orange_A100:#ffa07a; 
--red_700:#dc143c; 
--blue_50_cc:#e3f1ffcc; 
--light_blue_900_19:#00529b19; 
--indigo_A100:#818eff; 
--black_900_3f:#0000003f; 
--light_blue_900:#00529b; 
--gray_100:#f4f6f8; 
--black_900_99:#00000099; 
--black_900:#000000; 
--blue_200:#87ceeb; 
--white_A700:#ffffff; 
}